<header>
  <h1>
    {{ title }} 
  </h1>
  <p>
    <span class="sponsor">Sponsored by mr.Oppenheimer</span>
  </p>
</header>
<nav>
  <ul>
    <li>
      <div class="navi">
        <a href='https://youtu.be/dQw4w9WgXcQ?si=QY5DBvtoVcqwpH2t'>Oh that was cruel dude</a>
      </div>
    </li>
    <li>
      <div class="navi">
        <a href='https://youtu.be/KKO84c6SbfY?si=nE4XdsXDl4zQVioh'>Kenough</a>
      </div>
    </li>
    <li>
      <div class="navi">
        <a href='https://youtu.be/vXYVfk7agqU?si_0NbD'>Mr Shrek</a>
      </div>
    </li>
  </ul>
  <br>
</nav>
<main>
  <section>
    <button mat-raised-button (click)="openDialog()" 
            color="primary"
            class='dialog-button'>Добавить</button>
    <table class="table-main">
      <caption>
        <strong>Кинотеатр</strong>
      </caption>
      <tr>
        <th>Название фильма</th>
        <th>Название зала</th>
        <th>Дата показа</th>
        <th>Город</th>
        <th>Номер Телефона</th>
        <th>Удаление строки таблицы</th>
      </tr>
        <tr *ngFor="let item of items">
          <td>{{ item.filmName }}</td>
          <td>{{ item.cinemaHall }}</td>
          <td>{{ item.date | date: 'dd.MM.yyyy' }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.tel }}</td>
          <td>
              <button (click)="deleteItem(item)"
                    class="delete-button">
                <img src="\assets\images\basket.png"
                     class='trash-bin'>
            </button>
          </td>
        </tr>
    </table>
    <img src="\assets\images\1_4_4.ico"
         class='first-img'>
    <img src="\assets\images\ryan-gosling-blade-runner2049.gif"
         class='second-img' >
  </section>
</main>
<footer>
  <div class="asu-help-wanted">
    <p>
      <span>По техническим вопросам просьба обращаться на почту</span>
      <a href="mailto:oasu@gubkin.ru" class="asu-mail-color"> oasu&#64;gubkin.ru </a>
    </p>
  </div>
</footer>