<header>
  <h1>
    {{ title }} 
  </h1>
  <p>
    <span class="sponsor">Sponsored by mr.Oppenheimer</span>
  </p>
</header>
<nav>
  <ul>
    <li>
      <div class="navi">
        <a href='https://youtu.be/dQw4w9WgXcQ?si=QY5DBvtoVcqwpH2t'>Oh that was cruel dude</a>
      </div>
    </li>
    <li>
      <div class="navi">
        <a href='https://youtu.be/KKO84c6SbfY?si=nE4XdsXDl4zQVioh'>Kenough</a>
      </div>
    </li>
    <li>
      <div class="navi">
        <a href='https://youtu.be/vXYVfk7agqU?si_0NbD'>Mr Shrek</a>
      </div>
    </li>
  </ul>
  <br>
</nav>
<main>
  <section>
    <button mat-raised-button (click)="openDialog()" 
            color="primary"
            class='dialog-button'>Добавить</button>

    <!-- <table mat-table [dataSource]="items" class="mat-elevation-z8 demo-table">
 
      <ng-container matColumnDef="demo-position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let item"> {{item.FilmName}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let item"> {{item.CinemaHall}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let item"> {{item.Date}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let item"> {{item.City}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-tel">
        <th mat-header-cell *matHeaderCellDef> Tel </th>
        <td mat-cell *matCellDef="let item"> {{item.Tel}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

    <table class="table-main">
      <caption>
        <strong>Кинотеатр</strong>
      </caption>
      <tr>
        <th>Название фильма</th>
        <th>Название зала</th>
        <th>Дата показа</th>
        <th>Город</th>
        <th>Номер Телефона</th>
        <th>Удаление строки таблицы</th>
      </tr>
        <tr *ngFor="let item of items">
          <td>{{ item.FilmName }}</td>
          <td>{{ item.CinemaHall }}</td>
          <td>{{ item.Date | date: 'dd.MM.yyyy' }}</td>
          <td>{{ item.City }}</td>
          <td>{{ item.Tel }}</td>
          <td>
            <button (click)="deleteItem(item)"
                    class="delete-button">
                <img src="\assets\images\basket.png"
                     class='trash-bin'>
            </button>
          </td>
        </tr>
    </table>
    <img src="\assets\images\1_4_4.ico"
         class='first-img'>
    <img src="\assets\images\ryan-gosling-blade-runner2049.gif"
         class='second-img' >
  </section>
</main>
<footer>
  <div class="asu-help-wanted">
    <p>
      <span>По техническим вопросам просьба обращаться на почту </span>
      <span class="asu-mail-color">oasu&#64;gubkin.ru</span>
    </p>
  </div>
</footer>